$family-font: 'Roboto', 'sans-serif';
$primary-background: black;
$primary-font-size: 18px;
$secondary-font-size: 16px;
$mobile-font-size: 12px;
$promo-banner-color: hotpink;
$font-white: white;
$primary-hover-color: aqua;
$button-standard-width: 250px;